<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.allever.compose.project.compose.basic.ComposeBasicMainActivity" />
        <activity android:name="com.allever.compose.project.compose.basic.BasicWidgetActivity" />
        <activity android:name="com.allever.compose.project.compose.basic.ListWidgetActivity" />
        <activity android:name="com.allever.compose.project.compose.basic.GridWidgetActivity" />
    </application>
</manifest>